body {
	background-color: #ECF0F1; 
	font-family: 'Roboto', sans-serif;
	color: #4F595C; 
	margin: 0px; 
	padding: 0px; 
}
#header-text {
	padding-top: 10px; 
	padding-bottom: 20px; 
	margin-top: 20px; 
	margin-bottom: 10px; 
}
#orangeBox {
	background-color: #F96E5B; 
	height: 50px; 
	width: 100%; 
}
.button {
	border-style: none;
	border-width: 1px; 
	border-radius: 4px 3px 4px / 5px 5px; 
	background-color: #D7DEE6; 
	color: #F96E5B; 
}
#course-list{
	background-color: #D7DEE6; 
	padding: 10px 20px 10px 20px;
	width: 500px;
	float: left;
	border-style: none; 
	border-width: 1px; 
	border-radius: 4px 3px 4px / 5px 5px;
	font-weight: 800; 
}
#logo{
	height:40px;
}